@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: url(images/trees.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.login-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #222;
}

.login-box h1 {
    float: left;
    font-size: 50px;
    border-bottom: 4px solid;
    margin-bottom: 30px;
    padding: 13px 0;
}

.textbox {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid;
    padding: 8px 0;
    margin: 8px 0;
}

.textbox i {
    width: 10%;
    padding: 5px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    background: none;
    color: #222;
    font-size: 16px;
    width: 90%;
    margin: auto;
}

input[type="submit"] {
    width: 100%;
    border: 2px solid #222;
    font-size: 20px;
    background: none;
    cursor: pointer;
    cursor: pointer;
    font-family: 'lato', sans-serif;
    padding: 5px;
    margin: 10px 0;
}

.login-box:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 650px) {
    .login-box {
        width: 100%;
        margin-top: 0;
    }
    .
}

@media screen and (max-height: 400px) {
    .login-box {
        height: 100%;
        margin-top: 0;
    }
    .
}